{
    "presets": [
        ["@babel/preset-es2015", {
        }],
        "@babel/preset-stage-0",
        "@babel/preset-react"
    ],
    "env": {
        "dev": {
        },
        "production": {
            "plugins": [
            ]
        }
    },
    "plugins": ["@babel/plugin-transform-runtime"]
}
